.mediaPreview {
    max-width: 200px;
    height: 30px;
    font-size: 30px;
    vertical-align: text-top;
    text-align: center;
    display: inline-block;
}

.imagePreview {
    max-width: 100px;
    height: auto;
    background-color: @white;
    object-fit: contain;
}