# API 配置
SERVER_TITLE=bookroom-api
SERVER_PORT=5001
SERVER_LOGS_PATH=
SERVER_BASE_URL=/api/v1
CORS_ALLOW_ORIGIN=
# 数据库 配置
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=13306
DB_USER=root
DB_PASSWORD=test
DB_DATABASE=bookroom_api
DB_TIMEZONE=+08:00
DB_SYNC=
# Redis 配置
REDIS_HOST=localhost
REDIS_PORT=16379
REDIS_PASSWORD=work123456
REDIS_DATABASE=bookroom_api
# COOKIE
COOKIE_KEYS=test-key
COOKIE_MAXAGE=259200
COOKIE_NAMESPACE=bookroom_api
COOKIE_DOMAIN=
COOKIE_SECURE=true
COOKIE_HTTPONLY=true
# OAUTH2
OAUTH2_SECRET=bookroom-secret
OAUTH2_BEARER=Bearer
OAUTH2_EXPIRES_IN=86400
LOGIN_MAX_ERROR_COUNT=3
LOGIN_LOCK_TIME=5
# 用户token存储标识（可选，不填则使用默认值）
USER_TOKEN_KEY=
# 加密解密配置（可选，不填则使用默认值）
CRYPTO_SECRETKEY=

# AUTH
## 登录最大错误次数
LOGIN_MAX_ERROR_COUNT=3
## 登录错误后锁定时间
LOGIN_LOCK_TIME=10


# Minio 配置
MINIO_ENDPOINT=192.168.1.2
MINIO_PORT=9000
MINIO_ACCESS_KEY=test-access-key
MINIO_SECRET_KEY=test-secret-key
MINIO_BUCKET_NAME=bookroom
MINIO_REGION=ap-southeast-1
MINIO_USE_SSL=false